# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
config.json
/app.log
/test.db.json
/typings
/obj/Debug
/bin
/.vs/b2-updater/v14
